<Space Style="width: 100%" Direction="Vertical">
    <SpaceItem>
        <Form Model="$Model" OnFinish="OnSearch">
            <FormItem Required="$true">
                <Input bind-Value="$Model.Query" Placeholder="LDAP Query" />
            </FormItem>
            <FormItem>
                <Button HtmlType="Submit">Search</Button>
            </FormItem>
        </Form>
    </SpaceItem>
    <SpaceItem>
        <Space>
            <SpaceItem>
                <Text>Total Number of Objects :</Text>
            </SpaceItem>
            <SpaceItem>
                <Text>$ObjectCount</Text>
            </SpaceItem>
        </Space>
    </SpaceItem>
    <SpaceItem>
        <Table DataSource="$Results" Title="Results">
            <PropertyColumn Property="Name" Title="Name"></PropertyColumn>
            <PropertyColumn Property="ClassName" Title="Class"></PropertyColumn>
            <PropertyColumn Property="DistinguishedName" Title="Distinguished Name"></PropertyColumn>
        </Table>
    </SpaceItem>
</Space>