<Row>
    <Form Model="$Model" OnFinish="Submit">
        <FormItem Label="User Name">
            <Input bind-Value="$Model.UserName" />
        </FormItem>
        <FormItem Label="Password">
            <InputPassword bind-Value="$Model.Password" />
        </FormItem>
        <FormItem Label="Confirm Password">
            <InputPassword bind-Value="$Model.ConfirmPassword" />
        </FormItem>
        <FormItem>
            <Button HtmlType="Submit" Disabled="$Disabled">Reset Password</Button>
        </FormItem>
    </Form>
</Row>