<Table Title="Local Users" DataSource="$LocalUsers">
    <PropertyColumn Property="Name" Title="Name" Sortable="true" />
    <PropertyColumn Property="Enabled" Title="Enabled" Sortable="true" />
    <PropertyColumn Property="Description" Title="Description" Sortable="true" />
</Table>