<Table Title="Host Processes" DataSource="$HostProcesses">
    <PropertyColumn Property="ProcessName" Title="Name" Sortable="true" />
    <PropertyColumn Property="ProcessId" Title="Id" Sortable="true" />
</Table>