<Table Title="Modules" DataSource="$Modules">
    <PropertyColumn Property="Name" Title="Name" Sortable="true" />
    <PropertyColumn Property="Version" Title="Version" Sortable="true" />
    <PropertyColumn Property="Path" Title="Path" Sortable="true" />
</Table>