<Table Title="Drives" DataSource="$Drives">
    <PropertyColumn Property="Name" Title="Name" />
    <PropertyColumn Property="Provider" Title="Description" />
    <PropertyColumn Property="Provider" Title="Provider" />
</Table>