<Table Title="Providers" DataSource="$Providers">
    <PropertyColumn Property="Name" Title="Name" Sortable="true" />
    <PropertyColumn Property="Capabilities" Title="Capabilities" Sortable="true" />
    <PropertyColumn Property="Drives" Title="Drives" Sortable="true" />
</Table>