<Table Title="Repositories" DataSource="$Repositories">
    <PropertyColumn Property="Name" Title="Name" Sortable="true" />
    <PropertyColumn Property="Uri" Title="Uri" Sortable="true" />
    <PropertyColumn Property="Trusted" Title="Trusted" Sortable="true" />
</Table>