<Tabs Style="margin:25px">
    <TabPane Tab="Drives">
        <Table Title="Drives" DataSource="$Drives">
            <PropertyColumn Property="Name" Title="Name" />
            <PropertyColumn Property="Provider" Title="Provider" />
        </Table>
    </TabPane>
    <TabPane Tab="Modules">
        <Table Title="Modules" DataSource="$Modules">
            <PropertyColumn Property="Name" Title="Name" Sortable="true" />
            <PropertyColumn Property="Version" Title="Version" Sortable="true" />
            <PropertyColumn Property="Path" Title="Path" Sortable="true" />
        </Table>
    </TabPane>
    <TabPane Tab="Variables">
        <Table Title="Variables" DataSource="$Variables">
            <PropertyColumn Property="Name" Title="Name" Sortable="true" />
            <PropertyColumn Property="Value" Title="Value" Sortable="true" />
        </Table>
    </TabPane>
    <TabPane Tab="Environment Variables">
        <Table Title="Environment Variables" DataSource="$EnvVariables">
            <PropertyColumn Property="Name" Title="Name" Sortable="true" />
            <PropertyColumn Property="Value" Title="Value" Sortable="true" />
        </Table>
    </TabPane>
    <TabPane Tab="Repositories">
        <Table Title="Repositories" DataSource="$Repositories">
            <PropertyColumn Property="Name" Title="Name" Sortable="true" />
            <PropertyColumn Property="Uri" Title="Uri" Sortable="true" />
            <PropertyColumn Property="Trusted" Title="Trusted" Sortable="true" />
        </Table>
    </TabPane>
    <TabPane Tab="Providers">
        <Table Title="Providers" DataSource="$Providers">
            <PropertyColumn Property="Name" Title="Name" Sortable="true" />
            <PropertyColumn Property="Capabilities" Title="Capabilities" Sortable="true" />
            <PropertyColumn Property="Drives" Title="Drives" Sortable="true" />
        </Table>
    </TabPane>
    <TabPane Tab="Host Processes">
        <Table Title="Host Processes" DataSource="$HostProcesses">
            <PropertyColumn Property="ProcessName" Title="Name" Sortable="true" />
            <PropertyColumn Property="ProcessId" Title="Id" Sortable="true" />
        </Table>
    </TabPane>
</Tabs>