<Tabs Style="margin:25px">
    <TabPane Tab="Drives">
        <Table Title="Drives" DataSource="$Drives">
            <PropertyColumn  Property="Name" Title="Name" />
            <PropertyColumn  Property="Free" Title="Free (GBs)" />
            <PropertyColumn  Property="Used" Title="Used (GBs)" />
        </Table>
    </TabPane>
    <TabPane Tab="Processes">
        <PropertyColumn  Property="Id" Title="ID" />
        <PropertyColumn  Property="Name" Title="Name" />
        <PropertyColumn  Property="NPM" Title="NPM (K)" />
        <PropertyColumn  Property="PM" Title="PM (K)" />
        <PropertyColumn  Property="VM" Title="VM (K)" />
    </TabPane>
</Tabs>