<Table Title="Drives" DataSource="$Drives">
    <PropertyColumn Property="Name" Title="Name" />
    <PropertyColumn Property="Free" Title="Free (GBs)" />
    <PropertyColumn Property="Used" Title="Used (GBs)" />
</Table>