<Table Title="Processes" DataSource="$Processes">
    <PropertyColumn Property="Id" Title="ID" />
    <PropertyColumn Property="Name" Title="Name" Sortable="true" />
    <PropertyColumn Property="NPM" Title="NPM (K)" Sortable="true" />
    <PropertyColumn Property="PM" Title="PM (K)" Sortable="true" />
    <PropertyColumn Property="VM" Title="VM (K)" Sortable="true" />
</Table>